[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "==21.2.0"
click = "==8.0.1"
dataclasses = "==0.8"
greenlet = "==1.1.2"
importlib-metadata = "==4.8.1"
iniconfig = "==1.1.1"
itsdangerous = "==2.0.1"
marshmallow = "==3.13.0"
mysqlclient = "==2.0.3"
pluggy = "==1.0.0"
py = "==1.10.0"
pyparsing = "==2.4.7"
pytest = "==6.2.5"
six = "==1.16.0"
toml = "==0.10.2"
typing-extensions = "==3.10.0.2"
zipp = "==3.6.0"
Flask-Cors = "==3.0.10"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.25"
Werkzeug = "==2.0.2"
flask = "*"
requests = "*"

[requires]
python_version = "3.6"
