<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
  <label for="title">Title:</label>
  <!-- 很重要，下面这里使用了 #newtile 的语法来把值赋值给 newtitle，
  再之后就可以在 click() 函数中使用 -->
  <input name="title" #newtitle>
  </div>
  <div class="field">
  <label for="link">Link:</label>
  <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle,newlink)" class="ui positive right floated button">
    Submit Link
  </button>
</form>

<!-- 下面使用单独渲染 -->
<div class="ui grid posts">
  <!-- sortedArticles() 也是 Article 这个 model 的函数-->
  <app-article *ngFor="let singleArticle of sortedArticles()" [article]="singleArticle">
  </app-article>
</div>


<router-outlet></router-outlet>
